*{
    margin: 0;
}

body{
    font-family: 'Nova Round', cursive;
    
    background-color: rgba(208, 171, 134, 0.415);
}

header{
width: 100vw;
height: 100vh;
background-image: url('https://images.pexels.com/photos/1922539/pexels-photo-1922539.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-size: 40px;
}

.principal{
    text-align: justify;
    margin: 20px;
}

.principal p{
    margin: 20px;
}

.principal article{
    border: 2px dotted rgb(211, 33, 33);
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
}

.principal h2{
    text-align: center;
    font-size: 30px;
}

.container-gal{
    width: 95%;
    align-content: center;
    margin: 0 auto;
}

div.galeria{
    margin: 10px;
    box-shadow: 2px 4px 6px lightseagreen;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 10px;
}

.galeria img{
    width: 300px;
    height: 300px;
    margin: 10px auto;
    align-items: center;
}

footer{
    background-color: black;
    color: aliceblue;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

.container{
    text-align: center;
}

@media (max-width:800px) {
    
}